@charset "UTF-8";

body {
	font-family: "Stylus BT", Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}



/* Header styling and stuffs */
h1 {
	font-family: "Stylus BT", Arial, sans-serif;
	padding-top: 24px;
	padding-bottom: 30px;
	margin: 0px;
	font-size: 24px;
	-webkit-text-stroke: 1px black;
}

.namehead {
	color: black;
	text-decoration: none;
}

h2 {
	font-family: "Stylus BT", Arial, sans-serif;
	margin: 0px;
	font-size: 20px;
}

nav {
    background-color: #fff; /* Change background color to white */
	padding-bottom: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    color: #333; /* Change link color */
    text-decoration: none;
    padding: 15px 20px;
}

nav ul li:hover {
    background-color: #f0f0f0; /* Change hover background color */
}

nav ul li:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    background-color: #fff; /* Change submenu background color to white */
    text-align: left;
    z-index: 1;
}

.sub-menu li {
    display: block;
}

.sub-menu li a {
    padding: 10px 20px; /* Equal padding on top and bottom */
    margin: 0; /* Remove any default margin */
    color: #333; /* Change submenu link color */
    white-space: nowrap; /* Prevent text from wrapping */
	background-color: white;
}

.sub-menu li:hover {
    background-color: #f0f0f0; /* Change submenu hover background color */
}


.dropdif {
	font-size: 18px;
	margin: 0px;
	padding: 0px;
}

.subxt {
			font-size: 14px;
			padding-left: 20px;
		}

/* Body styling and stuffs */
h3 {
	font-family: "Stylus BT", Arial, sans-serif;
	padding-bottom: 30px;
	font-size: 18px;
	-webkit-text-stroke: 1px black;
}

h4 {
	font-family: "Stylus BT", Arial, sans-serif;
	font-size: 14px;
	padding: 0px;
	margin:0px;
	margin-bottom: 15px;
	-webkit-text-stroke: 1px black;
}

h5 {
	font-family: "Stylus BT", Arial, sans-serif;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 85px;
}

h6 {
	font-family: "Stylus BT", Arial, sans-serif;
	font-size: 11px;
	padding: 0px;
	margin:0px;
	margin-bottom: 85px;
	width: 480px;
	margin-left: auto;
	margin-right: auto;
}

.video {
	display:flex;
	justify-content: center;
	padding: 0px;
	margin: 0px;
	padding-bottom: 125px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 480px;
	padding-bottom: 20px;
}

.space {
	padding-bottom: 125px;
}

.stitle{
	padding: 0px;
	margin: 0px;
	margin-bottom: 85px;
}



/* Footer Styling */
p {
	font-family: "Stylus BT", Arial, sans-serif;
	font-size: 12px;
	margin-bottom: 50px;
	margin-top: 100px;
	padding: 0px;
}

.foottop {
	margin-bottom: 0px;
	padding-bottom: 0px;
}



/* Homepage Slideshow Styling */
.slideshow-container {
  	position: relative;
  	max-width: 800px;
  	margin: auto; /* Center the slideshow horizontally */
  	text-align: center; /* Center the slides within the container */
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.slides {
  	display: none;
}

.fade {
  	animation-name: fade;
  	animation-duration: 1.5s;
}

@keyframes fade {
  	from {opacity: .4} 
  	to {opacity: 1}
}

.prev, .next {
  	position: absolute;
  	top: 50%;
  	width: auto;
  	margin-top: -22px;
  	padding: 16px;
  	color: white;
  	font-weight: bold;
  	font-size: 20px;
  	transition: 0.6s ease;
  	border-radius: 0 3px 3px 0;
  	cursor: pointer;
}

.next {
  	right: 0;
  	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  	background-color: rgba(0,0,0,0.8);
}






/* Change sizes to fit screens */

@media only screen and (max-width: 900px) {
	h1 {
		font-size: 24px;
	}
	
	h2 {
		font-size: 20px;
	}
	
	.dropdif {
		font-size: 14px;
	}
	
	nav {
		padding-bottom: 30px;
	}
	
	h3 {
		font-size: 18px;
		padding-bottom: 30px;
	}

	h4 {
		font-size: 14px;
	}

	h5 {
		font-size: 12px;
	}

	h6 {
		font-size: 11px;
		width: 360px;
	}
	.subxt {
			font-size: 12px;
	}
}



@media only screen and (max-width: 575px) {
	h1 {
		font-size: 24px;
	}
	
	h2 {
		font-size: 18px;
	}
	
	.dropdif {
		font-size: 12px;
	}
	
	nav {
		padding-bottom: 30px;
	}
	
	h3 {
		font-size: 18px;
		padding-bottom: 15px;
	}

	h4 {
		font-size: 14px;
		margin-bottom: 10px;
	}

	h5 {
		font-size: 12px;
	}

	h6 {
		font-size: 11px;
		width: 280px;
	}
}



@media only screen and (max-width: 480px) {
	.center {
		width: 100%;
	}
}
